In [1]:
import pandas as pd
import uuid
import random
from datetime import timedelta

open_orders = dict()
event_types = ['order_created', 'order_fulfilled']
periods = [ts for ts in pd.date_range(start='1/1/2008', end='31/12/2018') if random.random()>0.8]

def new_random_order():
    return {
        'order_id': uuid.uuid4(),
        'amount': random.random() * 1000,
        'created_at': random.choice(periods)
    } 

def new_random_event():
    event_type = random.choice(event_types)
    order_info = new_random_order()
    if event_type=='order_created':
        open_orders[order_info['order_id']] = order_info
    else:
        if len(open_orders):
            order_id = random.choice(list(open_orders.keys()))
            order_info = open_orders[order_id]
            order_info['created_at'] = order_info['created_at'] + timedelta(random.randrange(0,180))
        open_orders.pop(order_info['order_id'], None)
        
    return {
        "event_id": uuid.uuid4(),
        "event_type": event_type,
        "order_id": order_info['order_id'],
        "amount": order_info['amount'],
        "created_at": order_info['created_at']
    }

df = pd.DataFrame([new_random_event() for _ in range(0, 100)])
df

,event_id,event_type,order_id,amount,created_at
0,394123dc-4542-41d7-ab85-3102a3c03435,order_fulfilled,d3777f14-a685-4487-8ddf-7f3c4f83011d,457.403362,2010-04-03
1,95c1ebe6-5355-47ec-b166-eebbcb512712,order_created,7529c3cb-f2ad-4ec3-8140-97e3f6c28dfe,285.558574,2014-05-13
2,162ac992-e9a0-43a7-a33c-158278f4bd7c,order_created,9d1f43d4-967b-4d31-8e00-9e95a97d8447,192.682809,2014-03-31
3,be27464b-c1c8-4f83-8a51-324d415971fe,order_created,eee828d1-b1e4-4e32-aacd-78137c48898c,705.036549,2013-06-28
4,4c1062e0-8f03-4b2b-811b-85db6cddfa30,order_created,7c54cf96-e57e-4b36-a52f-b6efe615d4d6,443.798985,2018-10-22
...,...,...,...,...,...
95,0eca44fa-1a5c-4e56-b8a9-804271eab990,order_created,219d9f34-39f1-46b5-bce5-af50427ceda1,578.809845,2013-04-30
96,e1f438b9-d41d-4451-a629-b7005e9bcc73,order_created,274b0b17-b05b-4e5d-b3cf-2427560501c6,484.092408,2018-01-01
97,5e88ef0a-ff8f-4709-be80-ed2e18dea18e,order_fulfilled,a6fc621a-7274-4768-9a8e-89a72f8ba436,279.313558,2008-07-29
98,2ba42782-0f8b-42a4-ba03-f8e56b6c2017,order_fulfilled,280e7ba2-41fc-4bf0-ac0e-d02a5daaf052,964.389457,2015-01-06
99,82b4f11b-eef1-47ed-b6c6-41e6ed56b02a,order_created,73f7584d-fc03-485f-9cf2-10da3a4201d7,640.279463,2014-05-16

# Q1. List all events with "event_type" as "order_created" where "order_fulfilled" is at least 30 days later than the "order_created" (dates are based on "created_at").

In [1]:
# Sample result:
    
# result = [
#     {order_id: "",
#      order_date: "...",
#      fulfilled_date: "...",
#      delay: 30
#     },
#     ...
# ]
# Your code here

'''
Hint:

Filter event type for order created, and order fulfilled then, store them in different dataframes
join the two dataframes together

take the difference of the two datetimes and store in a new column

filter for dates < 30, convert the dataframe to a dictionary

Q2 should be easy for you
'''

'\nHint:\n\nFilter event type for order created, and order fulfilled then, store them in different dataframes\njoin the two dataframes together\n\ntake the difference of the two datetimes and store in a new column\n\nfilter for dates < 30, convert the dataframe to a dictionary\n\nQ2 should be easy for you\n'

# Q2. Determine the average, minimum, maximum and count delay per month per calendar year where the delay is greater than 30 days.

In [39]:
# Sample Output

# fulfilled_year  fulfilled_month     mean         min          max       count
# 2008            10                  73.0         70.0         76.0      2

# Your code here